body{
    width: 980px;
    margin: 0 auto;
}

.login{
	position: relative;
	float: left;
    width: 200px;
}
.account{
    position: relative;
    float: left;
    width: 200px;
}
.content{
    position: relative;
    width: 780px;
    margin-left: 200px;
}
.projects .all_projects{
    float: left;
}
.projects .my_projects{
    margin-left: 400px;
}
.projects table{
	width: 380px;
	border: 1px solid;
}
.projects .my_table{
    width: 380px;
    border: 1px solid;
}
#role{
    cursor: pointer;
}